<footer class="bg-primary text-white">
    <div class="container">
        <section class="py-5">
            <div class="row gy-4">
                <aside class="col-12 col-sm-12 col-lg-3">
                    <article class="me-lg-4">
                        <h3>BlueKart</h3>
                        <p class="mt-3"> &copy;{% now "Y" %} &bull; All rights reserved. </p>
                        <nav> 
                            <a class="btn btn-info" title="Facebook" target="_blank" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-info" title="Instagram" target="_blank" href="#">
                                <i class="fab fa-instagram"></i>
                            </a> 
                            <a class="btn btn-info" title="Youtube" target="_blank" href="#">
                                <i class="fab fa-youtube"></i>
                            </a> 
                            <a class="btn btn-info" title="Twitter" target="_blank" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </nav>
                    </article>
                </aside>
                <aside class="col-12 col-md-4 col-lg-2">
                    <h6>Store</h6>
                    <ul class="list-unstyled">
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">About us</a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">Find store</a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">Categories</a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-2-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">Blogs</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-12 col-md-4 col-lg-2">
                    <h6>Information</h6>
                    <ul class="list-unstyled">
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">Help center</a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">Money refund</a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">Shipping info</a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-2-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#">Refunds</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-12 col-md-4 col-lg-2">
                    <h6>Support</h6>
                    <ul class="list-unstyled">
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#"> Help center </a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#"> Documents </a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#"> Account restore </a>
                        </li>
                        <li class="mb-1"> 
                            <a href="#" class="link-offset-2 link-offset-2-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover text-white" href="#"> My Orders </a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-12 col-sm-12 col-lg-3">
                    <h6>Newsletter</h6>
                    <p>Stay in touch with latest updates about our products and offers </p>

                    <form class="mb-3">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Email">
                            <button class="btn btn-dark" type="submit">
                                Join
                            </button>
                        </div>
                        <!-- input-group.// -->
                    </form>
                </aside>
            </div>
            <!-- row.// -->
        </section>
        <!-- footer-top.// -->
        <hr class="my-0">
        <section class="py-3 d-flex justify-content-between">
            <div>
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-amex"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
            </div>
            <nav class="dropup">
                <button class="dropdown-toggle btn text-white d-flex align-items-center py-0" type="button"
                    data-bs-toggle="dropdown">
                    <span>English</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Russian</a></li>
                    <li><a class="dropdown-item" href="#">Arabic</a></li>
                    <li><a class="dropdown-item" href="#">Spanish</a></li>
                </ul>
            </nav>

        </section>
    </div>
    <!-- container end.// -->
</footer>

<!-- ================ FOOTER END.// ================ -->