{% load humanize %}

<div class="top-selling-contain wow fadeInUp">
    <a href="{{ product.get_absolute_url }}" class="top-selling-image">
        <img src="{{ product.image.url }}" class="img-fluid blur-up lazyload" alt="">
    </a>

    <div class="top-selling-detail">
        <a href="{{ product.get_absolute_url }}">
            <h5>{{ product.name }}</h5>
        </a>
        <div class="product-rating">
            <ul class="rating">
                <li>
                    <i data-feather="star" class="fill"></i>
                </li>
                <li>
                    <i data-feather="star" class="fill"></i>
                </li>
                <li>
                    <i data-feather="star" class="fill"></i>
                </li>
                <li>
                    <i data-feather="star" class="fill"></i>
                </li>
                <li>
                    <i data-feather="star"></i>
                </li>
            </ul>
            <span>(34)</span>
        </div>
        <h6>&#8358;{{ product.price|intcomma }}</h6>
    </div>
</div>